{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "google",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "camelcase": "off",
    "no-unused-vars": "off"
  }
}
